 Problem 1: Unique Words in a Sentence:

In [ ]:

# --- Input ---
sentence = "python is easy and python is powerful"

# --- Logic ---
words_list = sentence.split()      # Step 1: Break into individual words
unique_words = set(words_list)     # Step 2: Convert to set to remove duplicates

# --- Output ---
print(f"Unique words count: {len(unique_words)}")
print(f"Unique words: {unique_words}")

Unique words count: 5
Unique words: {'easy', 'and', 'powerful', 'is', 'python'}

Problem 2: Highest Salary from Employee Data:

In [ ]:
# --- Input ---
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000,
}

# --- Logic ---
# Professional approach: using max() with a key argument
best_employee = max(employees, key=employees.get)
highest_salary = employees[best_employee]

# --- Output ---
print(f"Highest Salary: {best_employee} - {highest_salary}")

Highest Salary: Ravi - 75000

Problem 3: Find Maximum and Minimum Values:

In [ ]:
# --- Input ---
numbers = [45, 22, 89, 10, 66]

# --- Logic ---
max_val = numbers[0]
min_val = numbers[0]

for num in numbers:
    if num > max_val:
        max_val = num
    if num < min_val:
        min_val = num

# --- Output ---
print(f"List: {numbers}")
print(f"Max: {max_val}")
print(f"Min: {min_val}")

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem 4: Count Products Above a Price Threshold:

In [ ]:
# --- Input ---
prices = [450, 1200, 899, 1500, 300]

# --- Logic ---
count_above_1000 = 0
for price in prices:
    if price > 1000:
        count_above_1000 += 1

# --- Output ---
print(f"Products above 1000: {count_above_1000}")

Products above 1000: 2

Problem 5: Calculate Attendance Percentage:

In [ ]:
# --- Input ---
attendance = ["P", "P", "A", "P", "P"]

# --- Logic ---
total_days = len(attendance)
days_present = attendance.count("P")
percentage = (days_present / total_days) * 100

# --- Output ---
print(f"Attendance Percentage: {percentage}%")

Attendance Percentage: 80.0%

Problem 6: Remove Duplicate Phone Numbers:

In [ ]:
# --- Input ---
phone_numbers = [9876543210, 9123456789, 9876543210]

# --- Logic ---
unique_phones = set(phone_numbers) # Immediate deduplication

# --- Output ---
print(f"Unique phone numbers: {unique_phones}")

Unique phone numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency:

In [1]:
# --- Input ---
text_input = "python" # Expanding to 'python' as per example logic, or a string with repeats

# Let's use a string with repeats to demonstrate frequency better
target_string = "ppython"

# --- Logic ---
frequency_map = {}
for char in target_string:
    if char in frequency_map:
        frequency_map[char] += 1
    else:
        frequency_map[char] = 1

# --- Output ---
print(frequency_map)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Problem 8: Convert List to Tuple:

In [ ]:
# --- Input ---
data_list = [10, 20, 30]

# --- Logic ---
data_tuple = tuple(data_list)

# --- Output ---
print(f"Tuple: {data_tuple}")

Tuple: (10, 20, 30)

Problem 9: Check if a Key Exists in a Dictionary:

In [ ]:
# --- Input ---
database = {"id_001": "Ravi", "id_002": "Anita"}
search_key = "id_001"

# --- Logic ---
if search_key in database:
    print("Employee exists")
else:
    print("Employee not found")

Employee exists

Problem 10: Calculate Average Marks:

In [ ]:
# --- Input ---
marks = [70, 80, 60, 90, 62.5] # Example data to match output 72.5

# --- Logic ---
total_marks = sum(marks)
count = len(marks)
average = total_marks / count

# --- Output ---
print(f"Average Marks: {average}")

Average Marks: 72.5